{% extends 'base.html' %}
{% block title %}Clients{% endblock %}
{% block content %}
    <div class="row">
    <section class="content container-fluid">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ kyc_count }}<sup style="font-size: 20px">kyc</sup></h3>

              <p>Clients</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ valid_count }}</h3>

              <p>Valified Clients</p>
            </div>
            <div class="icon">
              <i class="ion ion-checkmark"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ unseen_count }}</h3>

              <p>Unverified clients</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
      </div>
    </section>
      <!-- /.row -->
    </div>

    <div class="row">
        {% for client in clients %}
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->

            {% if client.is_seen %}
                <div class="widget-user-header bg-yellow">
                <div class="box-tools pull-right">
                    <a class="btn btn-app verify-btn" data-href="{{ client.ref }}">
                      <i class="fa fa-thumbs-down"></i> UnVerify
                    </a>
                </div>
            {% else %}
                <div class="widget-user-header bg-red-active">
                <div class="box-tools pull-right">
                    <a class="btn btn-app verify-btn" data-href="{{ client.ref }}">
                    <i class="fa fa-thumbs-up"></i> Verify
                  </a>

                </div>

            {% endif %}
                <div class="box-tools pull-right">
                    <a class="btn btn-app delete-btn" data-href="{{ client.ref }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                </div>
              <div class="widget-user-image" >
                <img class="img-circle profile-pic" style="max-height: 80px" src="{{ MEDIA_URL }}{{ client.face_img }}" alt="User Face" data-toggle="modal" data-target="#modal-success" onclick='document.getElementById("img01").src="{{ MEDIA_URL }}{{ client.face_img }}"; document.getElementById("modal-title").innerText="#{{ client.ref }}"'>
              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username">#{{ client.ref }}</h3>
              <h5 class="widget-user-desc">{{ client.created }}</h5>

            </div>

            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>#</b> {{ client.national_id }}</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Name</b> {{ client.full_name }}</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Address</b> {{ client.address }}</li>
                  <li></li>
              </ul>
                <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    {% ifequal client.gender 0 %}
                      <h5 class="description-header">Male</h5>
                      <span class="description-text"><i class="fa fa-mars"></i></span>
                    {% else %}
                        <h5 class="description-header">Female</h5>
                      <span class="description-text"><i class="fa fa-venus"></i></span>
                    {% endifequal %}
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    {% ifequal client.gender 0 %}
                      <h5 class="description-header">Muslim</h5>
                    {% endifequal %}
                    {% ifequal client.gender 1 %}
                        <h5 class="description-header">Christian</h5>
                    {% endifequal %}
                    {% ifequal client.gender 2 %}
                        <h5 class="description-header">Jewish</h5>
                    {% endifequal %}
                    <span class="description-text"><i class="fa fa-hands"></i>Religion</span>

                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                      {% ifequal client.status 0 %}
                        <h5 class="description-header">Single</h5>
                      {% endifequal %}
                      {% ifequal client.status 1 %}
                          <h5 class="description-header">Married</h5>
                      {% endifequal %}
                    {% ifequal client.status 2 %}
                        <h5 class="description-header">Divorced</h5>
                    {% endifequal %}

                    <span class="description-text">Status</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
            <div class="row">
                <div class="col-sm-6 border-right">
                  <div class="description-block">
                      <h5 class="description-header">Front</h5>
                <img class="text-center img-thumbnail" src="{{ MEDIA_URL }}{{ client.id_front_img }}" alt="Front Face" data-toggle="modal" data-target="#modal-success" onclick='document.getElementById("img01").src="{{ MEDIA_URL }}{{ client.id_front_img }}"; document.getElementById("modal-title").innerText="#{{ client.ref }}"'>

                  </div>
                  <!-- /.description-block -->
                </div>
                <div class="col-sm-6 border-right">
                  <div class="description-block">

                        <h5 class="description-header">Back</h5>
                <img class="text-center img-thumbnail" src="{{ MEDIA_URL }}{{ client.id_back_img }}" alt="Back Face" data-toggle="modal" data-target="#modal-success" onclick='document.getElementById("img01").src="{{ MEDIA_URL }}{{ client.id_back_img }}"; document.getElementById("modal-title").innerText="#{{ client.ref }}"'>
                  </div>
                  <!-- /.description-block -->
                </div>
            </div>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        {% endfor %}
    </div>
<div class="modal modal-warning fade" id="modal-success">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title"></h4>
              </div>
              <div class="modal-body">
                <img class="modal-content img-responsive" id="img01">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    <div class="modal modal-warning fade" id="modal-delete">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title">Delete Success</h4>
              </div>
              <div class="modal-body">
                The client has been deleted successfully
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

{% endblock %}
{% block extrastylesheet %}
    <style type="text/css">
    .btn-app {
        position: relative;
        padding: 15px 5px;
        margin: 0 0 10px 10px;
        min-width: 30px;
        height: 60px;
        text-align: center;
        color: ghostwhite;
        background-color: transparent;
        border-color: transparent;
        font-size: 12px;
    }
    .btn-app:hover {
        opacity: 0.7;
        border-color: transparent;
        color: whitesmoke;
        background-color: transparent;

    }
    </style>
{% endblock %}
{% block customscript %}
    <script>

    $('.verify-btn').click(function (event) {
        event.preventDefault();
        var _this = $(this);
        var div_par = _this.parent().parent();
        if(confirm("Are you sure to verify/unverify client")){
        $.ajax({
            url: '{% url "dashboard_api:verify-toggle" %}',
            method: "GET",
            data: {ref: _this.data("href")},
            cache:false,

            success: function (data) {
                console.log(data);
                if (data.verify){
                    _this.html("<i class='fa fa-thumbs-down'></i> UnVerify");
                    div_par.removeClass("bg-red-active").addClass("bg-yellow");

                }
                else{
                    _this.html("<i class='fa fa-thumbs-up'></i> Verify");
                    div_par.removeClass("bg-yellow").addClass("bg-red-active");
                }
            },
            error: function (xhr,status,error) {
                console.log(xhr);
                console.log(status);
                console.log(JSON.stringify(error));
            }
        });
        }
    });
    $('.delete-btn').click(function (event) {
        event.preventDefault();
        var _this = $(this);
        var div_par = _this.parent().parent().parent().parent();
        if(confirm("Are you sure to delete client")){
        $.ajax({
            url: '{% url "dashboard_api:delete" %}',
            method: "DELETE",
            data: {ref: _this.data("href")},
            cache:false,

            success: function (data) {
                div_par.remove();
                $('#modal-delete').modal('show');
            },
            error: function (xhr,status,error) {
                console.log(xhr);
                console.log(status);
                console.log(JSON.stringify(error));
            }
        });
        }
    });

    </script>
{% endblock %}
